button {
    text-decoration: none;
    display: inline-block;
    padding: 5px 15px;
  }
  
  a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .previous {
    font-size: large;
    font-weight: bolder;
    border: 0;
  }
  
  .next {
    font-size: large;
    font-weight: bolder;
    border: 0;
  }
  
  .round {
    border-radius: 50%;
  }

.buttons {
    background-color: rgb(197, 14, 14);
    color: white;
    border-color: rgba(240, 240, 240, 0);
    box-shadow: 0 0 1px 0px rgba(240, 240, 240, 0) inset, 0 0 1px 0px rgba(240, 240, 240, 0);
    transition: background-color .2s;
}
.buttons:hover {
    background-color: rgb(134, 7, 7);
}